function max 3
    push argument 0
    push argument 1
    gt
    if-goto xgty
        push argument 1
        push argument 2
        gt
        if-goto ygtz
            push argument 1
            return

label xgty
    push argument 0
    push argument 2
    gt
    if-goto xgtz
        push argument 0
        return

label ygtz
    push argument 2
    return

label xgtz
    push argument 0
    return
